In [281]:
#import some libraries
import pandas as pd
import numpy as np
import seaborn as sns
import datetime
import matplotlib.pyplot as plt
from scipy.stats import randint
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor 
from sklearn.linear_model import LinearRegression, SGDRegressor
from xgboost import XGBRegressor
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error, r2_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

In [282]:
#reading for training data
pd.options.display.float_format = "{:.2f}".format
data = pd.read_csv("Train_Final project_Data cleaning_Consumption_2018 to 2021_SY.csv")

In [283]:
data = ( data.replace(regex=r'January', value = "01").
        replace(regex=r'February', value = "02")
        .replace(regex=r'March', value = "03").
        replace(regex=r'April', value = "04").
        replace(regex=r'May', value = "05").
        replace(regex=r'June', value = "06").
        replace(regex=r'July', value = "07").
        replace(regex=r'August', value = "08").
        replace(regex=r'September', value = "09").
        replace(regex=r'October', value = "10").
        replace(regex=r'November', value = "11").
        replace(regex=r'December', value = "12")
)

In [284]:
#drop unwanted column
#data = data.drop(columns=['day'], axis= 1)
#data.head()

In [285]:
data["GDP"]= data["GDP"].astype(np.float64)
data["month"]= data["month"].astype(np.int64)
data["Population"]= data["Population"].astype(np.int64)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              1461 non-null   int64
 1   month             1461 non-null   int64
 2   day               1461 non-null   int64
 3   Population        1461 non-null   int64
 4   GDP               1461 non-null   float64
 5   Renewable_energy  1461 non-null   float64
 6   Price             1461 non-null   float64
 7   Gas Consumption   1461 non-null   float64
dtypes: float64(4), int64(4)
memory usage: 91.4 KB

In [286]:
data = data.iloc[::-1].reset_index(drop=True)
data

,year,month,day,Population,GDP,Renewable_energy,Price,Gas Consumption
0,2018,1,1,445590607,14867310310533.72,18.47,19.21,3118.40
1,2018,1,2,445590607,14867310310533.72,18.47,19.32,4055.60
2,2018,1,3,445590607,14867310310533.72,18.47,19.32,4470.10
3,2018,1,4,445590607,14867310310533.72,18.47,19.20,4203.20
4,2018,1,5,445590607,14867310310533.72,18.47,18.91,4190.70
...,...,...,...,...,...,...,...,...
1456,2021,12,27,447207489,17088620744318.82,23.08,106.89,4442.80
1457,2021,12,28,447207489,17088620744318.82,23.08,106.59,4063.20
1458,2021,12,29,447207489,17088620744318.82,23.08,96.48,3208.60
1459,2021,12,30,447207489,17088620744318.82,23.08,87.03,2880.00
1460,2021,12,31,447207489,17088620744318.82,23.08,70.34,1960.60

In [287]:
# X is Independent variables
# y is dependent variables
#drop the traget column
X= data
y= X.pop('Gas Consumption')

In [288]:
#Convert categorical variable into dummy/indicator variables.
#OneHotEn = pd.get_dummies(X)
#OneHotEn

In [289]:
# define min max scaler
#scaler = RobustScaler()

# transform data
#scaled = scaler.fit_transform(X)

#X = pd.DataFrame(scaled, columns=X.columns)
#X.head()

In [290]:
#splitting data
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=.8)

In [291]:
X_train.head()

     year  month  day  Population               GDP  Renewable_energy  Price
863  2020      5   13   446810390 15528638585131.27             20.80   5.12
487  2019      5    3   446307676 15859191013014.76             19.42  14.56
618  2019      9   11   446386972 15763567835353.36             19.69  14.36
50   2018      2   20   445646784 14968347553675.34             18.53  19.77
467  2019      4   13   446287852 15883096807430.10             19.36  15.57

## Linear Regression

In [292]:
LR= LinearRegression()
LR.fit(X_train,y_train)  ## fitting the training data

X_test_pred_LR = LR.predict(X_test)  ## predicted x test

X_train_pred_LR= LR.predict(X_train) ##predicted x train

print('LR trainind score is',LR.score(X_train,y_train))
print('LR testing score is',LR.score(X_test,y_test))

LR trainind score is 0.29470257477503725
LR testing score is 0.31410502036352117

## Random Forest

In [293]:
from sklearn.ensemble import RandomForestRegressor

RF=RandomForestRegressor()
RF.fit(X_train,y_train) ## fitting the data

x_test_pred_RF = RF.predict(X_test)  ## predicted x test

X_train_pred_RF = RF.predict(X_train)  ## predicted x train

print('RF score for training is',RF.score(X_train,y_train))
print('RF score for testing is',RF.score(X_test,y_test))

RF score for training is 0.9891724546280368
RF score for testing is 0.9440592315693369

## 5 different model

In [294]:
# creating 5 different models
RF = RandomForestRegressor().fit(X_train, y_train)
DT = DecisionTreeRegressor().fit(X_train, y_train)
GBR = GradientBoostingRegressor().fit(X_train, y_train)
LR = LinearRegression().fit(X_train, y_train)
XGB = XGBRegressor().fit(X_train, y_train)

In [295]:
# the evaluation metrics
models = [LR, DT, RF, GBR, XGB]
RMSE = [mean_squared_error(y_test, mod.predict(X_test))**0.5 for mod in models]
MAPE = [mean_absolute_percentage_error(y_test, mod.predict(X_test)) for mod in models]
R2_Score = [r2_score(y_test, mod.predict(X_test)) for mod in models]

In [296]:
# comparing 5 models
Models = ['Linear Regression','Decision Tree','Random Forest','Gradient Boosting','XgBoost']
evaluation = pd.DataFrame({'Models':Models,'RMSE':RMSE,'MAPE':MAPE, 'R2_Score':R2_Score})

In [297]:
evaluation

              Models    RMSE  MAPE  R2_Score
0  Linear Regression 2288.16  2.74      0.31
1      Decision Tree  770.55  0.42      0.92
2      Random Forest  669.83  0.41      0.94
3  Gradient Boosting  895.33  0.60      0.89
4            XgBoost  678.48  0.45      0.94

In [298]:
#the evaluation metrics for train
models = [LR, DT, RF, GBR, XGB]

RMSE = [mean_squared_error(y_train, mod.predict(X_train))**0.5 for mod in models]

MAPE = [mean_absolute_percentage_error(y_train, mod.predict(X_train)) for mod in models]

R2_Score = [r2_score(y_train, mod.predict(X_train)) for mod in models]

In [299]:
# comparing 5 models
Models = ['Linear Regression','Decision Tree','Random Forest','Gradient Boosting','XgBoost']
evaluation = pd.DataFrame({'Models':Models,'RMSE':RMSE,'MAPE':MAPE, 'R2_Score':R2_Score})

In [300]:
evaluation

              Models    RMSE  MAPE  R2_Score
0  Linear Regression 2114.78  2.85      0.29
1      Decision Tree    0.00  0.00      1.00
2      Random Forest  250.24  0.13      0.99
3  Gradient Boosting  717.17  0.51      0.92
4            XgBoost  125.04  0.13      1.00

In [301]:
## Predict

In [302]:
test_data = pd.read_csv("Predict_Final project_without_consumption_table_SY.csv") #reading data from csv
test_data.shape

(212, 7)

In [303]:
test_data = ( test_data.replace(regex=r'January', value = "01").
             replace(regex=r'February', value = "02").
             replace(regex=r'March', value = "03").
             replace(regex=r'April', value = "04").
             replace(regex=r'May', value = "05").
             replace(regex=r'June', value = "06").
             replace(regex=r'July', value = "07").
             replace(regex=r'August', value = "08").
             replace(regex=r'September', value = "09").
             replace(regex=r'October', value = "10").
             replace(regex=r'November', value = "11").
             replace(regex=r'December', value = "12")
)

In [304]:
test_data["GDP"]= test_data["GDP"].astype(np.float64)
test_data["month"]= test_data["month"].astype(np.int64)
test_data["Population"]= test_data["Population"].astype(np.int64)
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              212 non-null    int64
 1   month             212 non-null    int64
 2   day               212 non-null    int64
 3   Population        212 non-null    int64
 4   GDP               212 non-null    float64
 5   Renewable_energy  212 non-null    float64
 6   Price             212 non-null    float64
dtypes: float64(3), int64(4)
memory usage: 11.7 KB

In [305]:
#Convert categorical variable into dummy/indicator variables.
#OneHotEn1 = pd.get_dummies(test_data)
#OneHotEn1

In [306]:
test_data = test_data.iloc[::-1].reset_index(drop=True)
test_data

     year  month  day  Population               GDP  Renewable_energy  Price
0    2022      1    1   447101666 17125646089264.85             23.16  71.10
1    2022      1    2   447101666 17125646089264.85             23.16  71.86
2    2022      1    3   447101666 17125646089264.85             23.16  72.61
3    2022      1    4   447101666 17125646089264.85             23.16  80.53
4    2022      1    5   447101666 17125646089264.85             23.16  82.94
..    ...    ...  ...         ...               ...               ...    ...
207  2022      7   27   448911666 17347798158941.00             23.66 206.99
208  2022      7   28   448911666 17347798158941.00             23.66 200.35
209  2022      7   29   448911666 17347798158941.00             23.66 192.38
210  2022      7   30   448911666 17347798158941.00             23.66 198.25
211  2022      7   31   448911666 17347798158941.00             23.66 204.12

[212 rows x 7 columns]

In [307]:
# define min max scaler
#scaler1 = RobustScaler()

# transform data
#scaled1 = scaler1.fit_transform(test_data)

#test_data = pd.DataFrame(scaled1, columns=test_data.columns)
#test_data.head()

In [308]:
#OneHotEn1["month_August"] = 0.00

In [309]:
#OneHotEn1["month_September"] = 0.00
#OneHotEn1["month_October"] = 0.00
#OneHotEn1["month_November"] = 0.00
#OneHotEn1["month_December"] = 0.00

In [310]:
test_data.shape

(212, 7)

In [311]:
# To predict test data using XGB full pipeline
test_preds = RF.predict(test_data)

In [312]:
# Two cloumns are needed to make dataframe 
result = pd.DataFrame({'Predict_Consumption': test_preds})

In [313]:
result

     Predict_Consumption
0                5252.48
1                5753.54
2                6103.69
3                6192.64
4                6119.80
..                   ...
207               711.19
208               706.51
209               716.94
210               785.90
211               785.90

[212 rows x 1 columns]

In [314]:
result.to_csv("Predict_Consumption_table_SY.csv", index= False)